/* Hay que agregar una tipografía */
:root{
   --colorTextos: #2198ad;
}
*, ::before{
      margin: 0;
      padding: 0;
      box-sizing: border-box; 
}
body{
      /* fallback for old browsers */
      background: #70e1f5; 
      /* Chrome 10-25, Safari 5.1-6 */ 
      background: -webkit-linear-gradient(to right, #ffd194, #70e1f5);  
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      background: linear-gradient(to right, #ffd194, #70e1f5); 
      font-family: 'Source Sans Pro', sans-serif;
      width: 100%;
      height: 650px;
      display: flex;
      justify-content: space-around;
      /* justify-content: center;
      align-items: center; */
}

header{
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
}

main{
   width: 30%;
   padding: 70px 0 800%;
} 

h1{
   text-align: center;
   margin: 10px 0;
   font-weight: 700;
}
nav>ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #333;
}

nav>ul>li {
   float: left;
}

nav>ul>li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav>ul>li a:hover {
   background-color: #70e1f5;
}

.active {
   background-color: #70e1f5;
}

.active-about {
   background-color: #ffd194;
}

form{
   background-color: #fff;
   border-radius: 10px;
   box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
}

.form{
   width: 100%;
   height:600px;
   margin: auto;
   justify-content: center;
   align-items: center;
}

form .grupo{
   position: relative;
   margin: 45px;
   justify-content: center;
   align-items: center;
}

input, 
textarea{
   background: none;
   color: #c6c6c6;
   font-size: 18px;
   padding: 10px 10px 10px 5px;
   display: block;
   width: 100%;
   border: none;
   border-bottom: 80px, solid var(--colorTextos);
   resize: none;
}

input:focus, textarea:focus{
   outline: none;
   color: rgb(74, 162, 182);
}
input:focus~label, 
input:valid~label, 
textarea:focus~label, 
textarea:valid~label{
   position: absolute;
   top: -14px;
   font-size: 12px;
   color: #44c4db;
}
label{
   color: var(--colorTextos);
   font-size: 16px;
   position: absolute;
   left: 5px;
   top: 10px;
   transition: 0.6s, ease all;
   pointer-events: none;
}

input:focus~.barra::before, 
textarea:focus~.barra::before{
   width: 100%;
}

.barra{
   position: relative;
   display: block;
   width: 100%;
}

.barra::before{
   content: '';
   height: 2px;
   width: 0%;
   bottom: 0;  
   position: absolute;
   background: linear-gradient(to right, #ffd194, #70e1f5);
   transition: 0.3s ease all ;
   left: 0%
}

button{
   font-family: 'Source Sans Pro', sans-serif;
   background: #70e1f5; 
   /* Chrome 10-25, Safari 5.1-6 */ 
   background: -webkit-linear-gradient(to right, #ffd194, #70e1f5);  
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   background: linear-gradient(to right, #ffd194, #70e1f5);  
   border: none;
   display: block;
   width: 80%;
   margin: 10px auto;
   color: #fff;
   height: 40px;
   font-size: 18px;
   cursor: pointer;
}